{% extends 'base.html' %}

{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
    #id_card_type_container {
      margin-top: 40px;
      margin-left: 50px;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="divider"></div>

<div class="section row">
  <div class="col s4">

    <h4>
      <a href="{{ data.get_absolute_url }}">
        {{ data.date_value }}
      </a></h4>
  </div>

  <div class="col s6 right-align">
    <h4><a target="_blank" href="{{ data.get_api_url }}">Goto API</a></h4>
  </div>
  <div class="col s2 right-align bottom-align">
    <h6><span class="count">
        {{ total_views }} view{{ total_views|pluralize }}
      </span></h6>
  </div>


</div>
{% load cache %}
{% cache cache_timeout cache_key data.date_value using="default" %}

<p class="flow-text">
  <h7>{{data.hijri_date_value}} Hijri in the month of {{data.hijri_month_name}}</h7>


</p>
<div class="divider"></div>
{% for holiday in data.holiday_list.all %}

<h5>
  {{ holiday.holiday_name }}
</h5>
<p class="flow-text">
  {{ holiday.description |linebreaksbr }}

</p>

<h6>
  Cultural Origin
</h6>
<p>
  - {{ holiday.origin |default_if_none:" - unknown origin - " }}

</p>



{% if  holiday.country.count > 0 %}
<h6>
  Country of Origin
</h6>

{% for country in holiday.country.all %}
<h7>
  - {{ country |default_if_none:" - unknown - " }}
  <br />
</h7>
{% endfor %}

{% endif %}




{% if  holiday.alias_names.count > 0 %}
<h6>
  Also Known as
</h6>

{% for alias in holiday.alias_names.all %}
<h7>
  {{ forloop.counter }} - {{ alias |default_if_none:" - unknown - " }}
  <br />
</h7>
{% endfor %}

{% endif %}
<p></p>
<hr />
{% endfor %}
</div>
{% endcache %}

{% endblock %}