{% extends 'base.html' %}
{% load humanize %}

{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
    #id_card_type_container {
      margin-top: 40px;
      margin-left: 50px;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="left-align">
  <h2>Holiday Events</h2>
</div>

<div class="card-panel">
    <span class="blue-text text-darken-2">{{data }}</span>
  </div>
         
<table class="striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hijri Date</th>
      <th>Holiday Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for data in holiday_calendars %}
    <tr>
      <td>
          <a href="{{ data.get_absolute_url }}">
              {{ data.date_value }}
            </a>        
     </td>
      <td>{{ data.hijri_date_value }}</td>
      <td>
        {% for holiday in data.holiday_list.all %}{{ holiday }}<br />{% endfor %}


      </td>
      <td>
          <a target="_blank" href="{{ data.get_api_url }}">
              api
            </a>        
     </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block result %}
{% endblock %}
{% endblock %}