{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}About Us {% endblock %}</title>
</head>

<body>
  {% block content %}

  <h3>
    Technologies
  </h3>
  <ol>
    <li>
      Python
    </li>
    <li>
      Django
    </li>
    <li>
      Django rest framework
    </li>
    <li>
      Docker Compose
    </li>
    <li>
      Linux running on Microsoft Azure Cloud platform
    </li>
    <li>
      Google Material Design
    </li>
  </ol>
  <div class="divider"></div>

  <p class="flow-text">
    Source code:
    <a target="_blank"
      href="https://www.github.com/bilgrami/hijri-calendar">https://www.github.com/bilgrami/hijri-calendar</a>.

  </p>
  <div class="divider"></div>

  <p class="flow-text">
    Last updated on: 2019-06-15

  </p>

  {% endblock %}
</body>

</html>