{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}About Us {% endblock %}</title>
</head>

<body>
  {% block content %}
  <h3>
    Purpose
  </h3>
  </p>
  <p class="flow-text">

    The website uses data obtained from official "pakmoonsighting.pk" and makes it available as a public API.
  </p>

  <h3>
    Background
  </h3>

  <p class="flow-text">
    Pakistan launched its first ever moon-sighting website on May 28th 2019 in a bid to end decades-old controversy
    over the start of key lunar months that decides the beginning of the holy month of Ramazan and Eid festivals.
    <br />
    <br />

    The website <a href="https://www.pakmoonsighting.pk" target="_blank">"pakmoonsighting.pk"</a> was inaugurated on Sunday, two
    weeks
    after Federal Minister for Science and Technology Fawad Chaudhry made an announcement regarding the preparation of a
    scientific lunar calendar.
    <br />
    <h4>
      <blockquote>
        "This is the first official website of the country which marks the important religious festivals for the next
        five
        years, Fawad Hussain Chaudhry, the minister of science and technology, told reporters in Islamabad."
      </blockquote>
    </h4>
  </p>
  <p class="flow-text">
    The move aims to end controversy surrounding moon-sighting in the country with various clerics fighting for
    relevance.
  </p>
  <h3>
    Technologies
  </h3>
  <ol>
    <li>
      Python with Django 2.2, and DRF (Django rest framework)
    </li>
    <li>
      Postgres database
    </li>
    <li>
      Redis cache
    </li>
    <li>
      Containerization via Docker and Docker-Compose
    </li>
    <li>
      Hosting on Microsoft Azure Cloud platform
    </li>
    <li>
      Google Material Design
    </li>
  </ol>
  <div class="divider"></div>

  <p class="flow-text">
    Source code:
    <a target="_blank"
      href="https://www.github.com/bilgrami/hijri-calendar">https://www.github.com/bilgrami/hijri-calendar</a>.

  </p>
  <div class="divider"></div>

  <p class="flow-text">
    Last updated on: 2019-06-19

  </p>

  {% endblock %}
</body>

</html>