{% extends 'base.html' %}

{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
    #id_card_type_container {
      margin-top: 40px;
      margin-left: 50px;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="divider"></div>

<h1>Welcome to PK Hijri Calendar Website</h1>

<p class="flow-text">
  This website is created to display hijri and holiday calendar data obtained
  from <a target="_blank" href="http://pakmoonsighting.pk/">pakmoonsighting.pk</a>.

</p>

<div class="divider"></div>

<h3>
  Features
</h3>
<h5>
  <p>Calendar API</p>

  <p class="flow-text">
    The Calendar API provides access to two years (Y2019 and Y2020) worth of data. The API is public and require no
    authenticate
  </p>
  <p>Holiday Calendar</p>
  <p class="flow-text">
    Holiday Calendar displays list of public holidays observed in Pakistan.
  </p>

</h5>
<div class="divider"></div>

<p class="flow-text">
  Source code:
  <a target="_blank"
    href="https://www.github.com/bilgrami/hijri-calendar">https://www.github.com/bilgrami/hijri-calendar</a>.

</p>

</div>

{% endblock %}