{% extends 'base.html' %}

{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
    #id_card_type_container {
      margin-top: 40px;
      margin-left: 50px;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="divider"></div>

<h1>Rest API for Official, Cultural and Religous Holidays</h1>

<p class="flow-text">
  This website is created to display hijri calendar and official, cultural and religeous holidays
  from various sources, such as <a target="_blank" href="http://pakmoonsighting.pk/">pakmoonsighting.pk</a>.
  The web Site offers data via publicly accessible Restful API for free. 

</p>

<div class="divider"></div>

<h3>
  Features
</h3>
<h5>

  <p>
    Holiday Calendar: <a href="{% url 'holiday' %}">/holiday/</a>
  </p>
  <p class="flow-text">
    Holiday Calendar displays table of public holidays observed in Americas (US/Canada) and South asian countries 
    such as Pakistan, India and Bangladesh.
  </p>

  <p>
    Holiday API: <a target="_blank" href="/api/v1/holiday/">/api/v1/holiday/</a> (opens in new window)
  </p>
  <p class="flow-text">
    The Holiday API provides access to religeous, Cultural and offician holidays. API is public and require no
    authenticatation for read-only access.
  </p>


  <p>
    Calendar API: <a target="_blank" href="/api/v1/calendar/">/api/v1/calendar/</a> (opens in new window)
  </p>
  <p class="flow-text">
    The Calendar API provides access to two years (Y2019 and Y2020) worth of hijri calendar. API is public and require no
    authenticatation for read-only access.
  </p>

</h5>
<div class="divider"></div>
<h8>
  Home page:
  <a target="_blank" href="{% url 'home' %}">home</a>
</h8>
<div class="divider"></div>

<h8>
  About this website:
  <a target="_blank" href="{% url 'about' %}">/about/</a>
</h8>
<div class="divider"></div>

<h8>
  Source code:
  <a target="_blank"
    href="https://www.github.com/bilgrami/hijri-calendar">https://www.github.com/bilgrami/hijri-calendar</a>.
</h8>
<div class="divider"></div>

</div>

{% endblock %}